.screen {
    width: 100vh;
    width: -moz-available;
    width: -webkit-fill-available;
    width: fill-available;

    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.left-row {
    width: auto;
    height: 100%;
    position: absolute;
    z-index: 1;
}

.login-video {
    object-fit: fill;
}

.right-row {
    width: 30%;
    height: 100%;
    z-index: 3;
    margin-left: 70%;
    position: absolute;
    display: flex;
    flex: 1 1 0px;
    flex-direction: column;
    align-items: center;
    background-color: rgba(240, 255, 255);
}

.login-wrapper {
    margin: 3% 10% 0;
    padding: 25px 5px;
}

.warning-div {
    margin: 0 10%;
    padding-left: 35px;
}

.warning-txt {
    color: red;
    margin-bottom: 0;
}


.register-div {
    display: flex;
    flex-direction: row;
    margin-top: auto;
}

.register-txt:hover {
    color: #0090ff;
    text-decoration: none;
}

h2 {
    margin-top: 0;
}

h5 {
    margin: 20px 5px;
}

